In [ ]:
#ClassTask
Square = [x**3 if x%3==0 else x**2 for x in range(3,31) ]
print(Square)

[27, 16, 25, 216, 49, 64, 729, 100, 121, 1728, 169, 196, 3375, 256, 289, 5832, 361, 400, 9261, 484, 529, 13824, 625, 676, 19683, 784, 841, 27000]

In [1]:
#ClassTask
Free = 0
Concession = 1.25
Adult = 2.50

x = int(input("Enter your age: "))

if x == 4:
    print("Ticket is $" + str(Free))
elif x <= 18 and x > 4:
    print("Ticket is $" + str(Concession))
else:
    print("Ticket is $" + str(Adult))

Enter your age: 22
Ticket is $2.5

In [ ]:
#Task:01
points = 174  # use this input to make your submission

# write your if statement here
if 1 <= points <= 50:
    result = "Congratulations! You won a wooden rabbit prize."
elif 51 <= points <= 150:
    result = "Congratulations! You won a no prize."
elif 151 <= points <= 180:
    result = "Congratulations! You won a water thin mint prize."
elif 181 <= points <= 200:
    result = "Congratulations! You won a penguin prize."
else:
    result = "Dear, no prize this time."

print(result)

Congratulations! You won a water thin mint prize.

In [ ]:


#Task:02
answer = 174 # Provide the answer here
guess = 11 # Provide the guess here

if guess < answer:
    result = "Oops! Your guess was too low."
elif guess > answer:
    result = "Oops! Your guess was too high."
else:
    result = "Nice! Your guess matched the answer!"

print(result)

Oops! Your guess was too low.

In [ ]:
#Task:03
def calculate_tax(purchase_amount, state):
    tax_rates = {
        'CA': 0.075,
        'MN': 0.095,
        'NY': 0.089}

    if state in tax_rates:
        tax_rate = tax_rates[state]
        tax_amount = purchase_amount * tax_rate
        total_amount = purchase_amount + tax_amount
        return total_amount
    else:
        print("State not found in the tax rates.")
        return None

purchase_amount = 100
state = 'CA'
total_amount_with_tax = calculate_tax(purchase_amount, state)
print(f"Total amount with tax in {state}: ${total_amount_with_tax:.2f}")

Total amount with tax in CA: $107.50

In [ ]:
#Task:04
my_list = ["the","quick", "brown" , "fox", "jumped","over", "the" , "lazy" , "dog"]

for element in my_list:
    print(element)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [ ]:
#Task:05
Multiple=[x for x in range (1, 31) if x%5==0]
print(Multiple)

[5, 10, 15, 20, 25, 30]

In [ ]:
#Task:06
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
# Using list comprehension to extract first names in lowercase
first_names = [name.split()[0].lower() for name in names]

print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

In [ ]:

#Task:08
scores = {
    "Rick Sanchez": 70,
    "Morty Smith": 35,
    "Summer Smith": 82,
    "Jerry Smith": 23,
    "Beth Smith": 98
}

passed = [x for x in scores if scores[x] >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [ ]:
#Task:09
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

In [ ]:
#Task:10
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for i, x in enumerate(cast):
    cast[i] = x + " " + str(heights[i])

print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']

In [ ]:
#Task:07
Square = [x for x in range(3,21) if x%3==0]
print(Square)

[3, 6, 9, 12, 15, 18]